Bottles
FubuCore
FubuLocalization
FubuMVC.Core
FubuMVC.Katana
FubuMVC.RavenDb45
FubuMVC.Spark
FubuMVC.StructureMap
FubuPersistence45
HtmlTags
Microsoft.CompilerServices.AsyncTargetingPack
Microsoft.Data.Edm
Microsoft.Data.OData
Microsoft.Data.Services.Client
Microsoft.WindowsAzure.ConfigurationManager
Newtonsoft.Json
Owin
RavenDB.Client
RavenDb.Database
RavenDB.Embedded
Spark
StructureMap
System.Spatial
WindowsAzure.Storage
