Bottles
FubuCore
FubuLocalization
FubuMVC.Core
FubuMVC.Core.Assets
FubuMVC.Core.UI
FubuMVC.Core.View
FubuMVC.Diagnostics
FubuMVC.JQueryUI
FubuMVC.Katana
FubuMVC.Navigation
FubuMVC.OwinHost
FubuMVC.Spark
FubuMVC.StructureMap
FubuMVC.TwitterBootstrap
HtmlTags
Microsoft.CompilerServices.AsyncTargetingPack
Microsoft.Data.Edm
Microsoft.Data.OData
Microsoft.Data.Services.Client
Microsoft.WindowsAzure.ConfigurationManager
Newtonsoft.Json
Owin
RavenDb.Database
Spark
StructureMap
System.Spatial
