<?xml version="1.0"?>
<ripple xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Name>FubuTransportation</Name>
  <NugetSpecFolder>packaging/nuget</NugetSpecFolder>
  <SourceFolder>src</SourceFolder>
  <BuildCommand>rake</BuildCommand>
  <FastBuildCommand>rake compile</FastBuildCommand>
  <DefaultFloatConstraint>Current</DefaultFloatConstraint>
  <DefaultFixedConstraint>Current,NextMajor</DefaultFixedConstraint>
  <Feeds>
    <Feed Url="http://build.fubu-project.org/guestAuth/app/nuget/v1/FeedService.svc" Mode="Float" Stability="ReleasedOnly" />
    <Feed Url="http://nuget.org/api/v2" Mode="Fixed" Stability="ReleasedOnly" />
    <Feed Url="http://packages.nuget.org/v1/FeedService.svc" Mode="Fixed" Stability="ReleasedOnly" />
  </Feeds>
  <Nugets>
    <Dependency Name="Bottles" Version="2.0.0.576" Mode="Float" />
    <Dependency Name="BottleServiceRunner" Version="2.0.0.558" Mode="Float" />
    <Dependency Name="FubuCore" Version="1.2.0.272" Mode="Float" />
    <Dependency Name="FubuLocalization" Version="1.0.0.174" Mode="Float" />
    <Dependency Name="FubuMVC.Core" Version="1.2.0.1686" Mode="Float" />
    <Dependency Name="FubuMVC.Core.Assets" Version="0.9.9.557" Mode="Float" />
    <Dependency Name="FubuMVC.Core.UI" Version="1.0.1.606" Mode="Float" />
    <Dependency Name="FubuMVC.Core.View" Version="1.0.0.576" Mode="Float" />
    <Dependency Name="FubuMVC.Diagnostics" Version="0.9.8.355" Mode="Float" />
    <Dependency Name="FubuMVC.Instrumentation" Version="0.1.0.233" Mode="Float" />
    <Dependency Name="FubuMVC.JQueryUI" Version="0.5.0.339" Mode="Float" />
    <Dependency Name="FubuMVC.Katana" Version="1.2.0.1686" Mode="Float" />
    <Dependency Name="FubuMVC.Media" Version="0.9.5.430" Mode="Float" />
    <Dependency Name="FubuMVC.Navigation" Version="0.9.1.205" Mode="Float" />
    <Dependency Name="FubuMVC.OwinHost" Version="1.2.0.1686" Mode="Float" />
    <Dependency Name="FubuMVC.RavenDb45" Version="0.9.5.95" Mode="Float" />
    <Dependency Name="FubuMVC.SlickGrid" Version="0.5.0.647" Mode="Float" />
    <Dependency Name="FubuMVC.Spark" Version="1.0.0.576" Mode="Float" />
    <Dependency Name="FubuMVC.StructureMap" Version="1.2.0.1672" Mode="Float" />
    <Dependency Name="FubuMVC.TwitterBootstrap" Version="0.0.0.642" Mode="Float" />
    <Dependency Name="FubuPersistence45" Version="0.9.5.95" Mode="Float" />
    <Dependency Name="FubuTestingSupport" Version="1.2.0.259" Mode="Float" />
    <Dependency Name="HtmlTags" Version="2.0.0.181" Mode="Float" />
    <Dependency Name="LightningQueues" Version="0.1.0.47" Mode="Float" />
    <Dependency Name="ManagedEsent" Version="1.8.3.2" Mode="Fixed" />
    <Dependency Name="Microsoft.CompilerServices.AsyncTargetingPack" Version="1.0.1.0" Mode="Fixed" />
    <Dependency Name="Microsoft.Data.Edm" Version="5.6.0.0" Mode="Fixed" />
    <Dependency Name="Microsoft.Data.OData" Version="5.6.0.0" Mode="Fixed" />
    <Dependency Name="Microsoft.Data.Services.Client" Version="5.6.0" Mode="Fixed" />
    <Dependency Name="Microsoft.WindowsAzure.ConfigurationManager" Version="2.0.3" Mode="Fixed" />
    <Dependency Name="Newtonsoft.Json" Version="5.0.8.0" Mode="Fixed" />
    <Dependency Name="NUnit" Version="2.5.10.11092" Mode="Fixed" />
    <Dependency Name="Owin" Version="1.0.0.0" Mode="Fixed" />
    <Dependency Name="PowerThreading" Version="20120420.0" Mode="Fixed" />
    <Dependency Name="RavenDB.Client" Version="2.5.2750" Mode="Fixed" />
    <Dependency Name="RavenDB.Database" Version="2.5.2750" Mode="Fixed" />
    <Dependency Name="RavenDB.Embedded" Version="2.5.2750" Mode="Fixed" />
    <Dependency Name="RhinoMocks" Version="3.6.1" Mode="Fixed" />
    <Dependency Name="Selenium.RC" Version="2.35.0.0" Mode="Fixed" />
    <Dependency Name="Selenium.Support" Version="2.35.0.0" Mode="Fixed" />
    <Dependency Name="Selenium.WebDriver" Version="2.35.0.0" Mode="Fixed" />
    <Dependency Name="Selenium.WebDriverBackedSelenium" Version="2.35.0.0" Mode="Fixed" />
    <Dependency Name="Serenity" Version="0.9.9.220" Mode="Float" />
    <Dependency Name="Spark" Version="1.7.5.1" Mode="Fixed" />
    <Dependency Name="Storyteller2" Version="2.0.0.48" Mode="Float" />
    <Dependency Name="structuremap" Version="2.6.3" Mode="Fixed" />
    <Dependency Name="structuremap.automocking" Version="2.6.3" Mode="Fixed" />
    <Dependency Name="System.Spatial" Version="5.6.0.0" Mode="Fixed" />
    <Dependency Name="TopShelf" Version="3.1.2.0" Mode="Fixed" />
    <Dependency Name="WindowsAzure.Storage" Version="3.0.1.0" Mode="Fixed" />
  </Nugets>
  <Groups />
  <References>
    <IgnoreAssemblies />
  </References>
  <Nuspecs />
</ripple>