Bottles
FubuCore
FubuLocalization
FubuMVC.Core
FubuMVC.RavenDb
FubuPersistence
HtmlTags
Microsoft.CompilerServices.AsyncTargetingPack
Microsoft.Data.Edm
Microsoft.Data.OData
Microsoft.Data.Services.Client
Microsoft.WindowsAzure.ConfigurationManager
Newtonsoft.Json
RavenDB.Client
RavenDB.Database
RavenDB.Embedded
structuremap
System.Spatial
WindowsAzure.Storage
